@import url(https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #0A0A0A;
  line-height: 1;
  font-family: "Inter";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2222222222;
  color: #490E84;
}

.subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.21875;
  color: #717171;
  margin-bottom: 3.125rem;
}

.btn {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2083333333;
  color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 4.375rem;
  min-width: 21.875rem;
  background-color: #490E84;
  border-radius: 30px;
  text-align: center;
}

.btn_w {
  background-color: #fff;
  color: #490E84;
  max-width: 15rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #0A0A0A;
}

.header__container {
  min-height: 6.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 1.875rem;
}

.menu__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

.menu__logo img {
  max-width: 2.5rem;
  width: 100%;
}

.link {
  font-size: 1.5rem;
  line-height: 1.2083333333;
  color: #717171;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #0A0A0A;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 9.375rem;
}

.footer__action {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.footer__action:last-child {
  text-align: right;
}

.footer__policy {
  font-size: 0.875rem;
}

.footer__tel {
  text-align: center;
}

.page {
  padding-top: 6.875rem;
}

.hero {
  background-color: #f5f5f7;
  padding-top: 4.375rem;
  padding-bottom: 2.5rem;
}

.hero__container {
  text-align: center;
}

.hero__title {
  margin-bottom: 2.5rem;
}

.hero__image-ibg {
  padding-bottom: 54%;
  margin-bottom: 1.5625rem;
}

.hero__image-ibg img {
  -o-object-fit: contain;
     object-fit: contain;
}

.new {
  padding-top: 5rem;
  padding-bottom: 6.25rem;
}

.new__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.new__text {
  padding-right: 1.25rem;
}

.new__text_regular {
  font-size: 0.875rem;
  line-height: 130%;
  color: #0a0a0a;
}

.new__text_regular p {
  margin-bottom: 1.875rem;
}

.new__text_bold {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 130%;
  color: #0a0a0a;
}

.new__image-ibg {
  padding-bottom: 62%;
}

.new__image-ibg img {
  -o-object-fit: contain;
     object-fit: contain;
}

.color {
  padding-top: 5rem;
  padding-bottom: 6.25rem;
}

.color__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -2.5rem -2.5rem;
}

.color__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 2.5rem;
  margin-bottom: 2.5rem;
}

.card-color__image-ibg {
  border-radius: 30px;
  padding-bottom: 132%;
  overflow: hidden;
  margin-bottom: 1.25rem;
}

.card-color__title {
  margin-bottom: 0.625rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 130%;
  color: #0a0a0a;
  text-align: center;
}

.card-color__subtitle {
  text-align: center;
  font-size: 0.875rem;
  line-height: 130%;
  color: #0a0a0a;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__column {
  background-color: #574b63;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contacts__column:first-child {
  padding: 8.75rem 5.625rem;
}

.contacts__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.21875;
  color: #ffffff;
  margin-bottom: 4.375rem;
  text-align: center;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__form input {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #f5f5f5;
  padding: 0.625rem 0.3125rem;
  margin-bottom: 1.25rem;
  color: #fff;
}

.contacts__form input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 0.875rem;
  line-height: 130%;
}

.contacts__form input::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 0.875rem;
  line-height: 130%;
}

.contacts__form input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 0.875rem;
  line-height: 130%;
}

.contacts__form input::-ms-input-placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 0.875rem;
  line-height: 130%;
}

.contacts__form input::placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 0.875rem;
  line-height: 130%;
}

.contacts__text {
  color: #fff;
  opacity: 0.5;
  font-size: 0.875rem;
  line-height: 130%;
  margin-bottom: 1.875rem;
}

.contacts__image-ibg {
  height: 100%;
}

@media (max-width: 76.875em) {
  .new__text {
    padding-right: 0.625rem;
  }

  .color__body {
    margin: 0 -0.9375rem -1.875rem;
  }

  .color__card {
    padding: 0 0.9375rem;
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .link {
    font-size: 1.125rem;
  }

  .color__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .contacts__column:first-child {
    padding: 4.375rem 2.1875rem;
  }
}

@media (max-width: 47.99875em) {
  .title {
    font-size: 2.25rem;
  }

  .subtitle {
    margin-bottom: 1.875rem;
  }

  .btn {
    font-size: 1.125rem;
    min-height: 3.125rem;
    min-width: 15.625rem;
  }

  .header__container {
    min-height: 5rem;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #222;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    padding: 7.5rem 0.9375rem 3.125rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -110%;
    width: 100%;
    min-height: 5rem;
    background-color: #222;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-box-shadow: 0 0 12px rgb(64, 64, 64);
            box-shadow: 0 0 12px rgb(64, 64, 64);
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .menu__item {
    margin-bottom: 1.875rem;
  }

  .link {
    font-size: 1.5rem;
  }

  .icon-menu {
    display: block;
    margin-left: auto;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #717171;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer {
    padding: 1.25rem 0;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__action {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .footer__action:first-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
  }

  .footer__action:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 0.9375rem;
    text-align: center;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0.9375rem;
  }

  .page {
    padding-top: 5rem;
  }

  .hero {
    padding-top: 3.125rem;
  }

  .hero__title {
    margin-bottom: 1.875rem;
  }

  .new {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .new__body {
    display: block;
  }

  .new__text {
    margin-bottom: 1.25rem;
  }

  .new__text_regular p {
    margin-bottom: 0.9375rem;
  }

  .new__text {
    font-size: 1.125rem;
  }

  .color {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .color__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .card-color__image-ibg {
    margin-bottom: 0.625rem;
  }

  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contacts__container {
    margin: 0 -0.9375rem;
  }

  .contacts__column:first-child {
    padding: 4.375rem 0.9375rem;
  }

  .contacts__title {
    margin-bottom: 2.1875rem;
  }

  .contacts__image-ibg {
    min-height: 25rem;
  }
}

@media (max-width: 29.99875em) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.625rem;
    margin-bottom: 1.25rem;
  }

  .btn {
    min-width: 100%;
  }

  .hero {
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .hero__title {
    margin-bottom: 1.25rem;
  }

  .hero__image-ibg {
    margin-bottom: 1.25rem;
  }

  .new__text {
    font-size: 1rem;
  }

  .color__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .contacts__column:first-child {
    padding: 2.5rem 0.9375rem;
  }

  .contacts__title {
    margin-bottom: 1.25rem;
  }

  .contacts__image-ibg {
    min-height: 18.75rem;
  }
}

@media (any-hover: hover) {
  .btn {
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .btn:hover {
    background-color: #6c15c3;
  }

  .btn_w {
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .btn_w:hover {
    background-color: #e6ceff;
  }

  .link {
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .link:hover {
    color: #aaaaaa;
  }

  .card-color__body img {
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }

  .card-color__body:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}